<div class="billing-page">
    <div class="row">
        <div class="col-md-12">
            <form role="form">

                <div class="col-md-12">
                    <h1 class="heading">Billing</h1>
                </div>

                <div class="form-content col-md-6 panel panel-default">
                    <div class="form-group col-md-12">
                        <label class="btn btn-success"><input type="radio" name="options" id="option1" autocomplete="off"> Cash</label>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control input-lg" id="" placeholder="Billing Number">
                    </div>
                    <div class="form-group col-md-12">
                        <p class="input-group">
                            <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-md-12">
                        <select name="customername" class="form-control input-lg" id="" placeholder="Customer Name">
                            <option value="Customer Name">Customer Name</option>
                            <option value="Rajesh Bhau">Rajesh Bhau</option>
                            <option value="Mangesh Enterprises">Mangesh Enterprises</option>
                            <option value="Mahesh S">Mahesh S</option>
                            <option value="Meelan Vegitables">Meelan Vegitables</option>
                            <option value="Ritesh Market">Ritesh Market</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <select name="customername" class="form-control input-lg" id="" placeholder="Vegitable Name">
                            <option value="Vegitable Name">Vegitable Name</option>
                            <option value="Rajesh Bhau">Tomato</option>
                            <option value="Mangesh Enterprises">Potato</option>
                            <option value="Mahesh S">Beetroot</option>
                            <option value="Meelan Vegitables">Asian greens</option>
                            <option value="Ritesh Market">Capsicums</option>
                        </select>
                    </div>

                    <div class="form-group col-md-12">
                        <input type="number" class="form-control input-lg" id="" placeholder="Quantity">
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">&#8377;</span><input type="currency" class="form-control input-lg" id="" placeholder="Amount">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Save</button>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Print</button>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>

                </div>
                <div class="form-content col-md-6 panel panel-default">
                    <div class="form-group col-md-12">
                        <label class="btn btn-success"><input type="radio" name="options" id="option1" autocomplete="off"> Credit</label>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control input-lg" id="" placeholder="Billing Number">
                    </div>
                    <div class="form-group col-md-12">
                        <p class="input-group">
                            <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-md-12">
                        <select name="customername" class="form-control input-lg" id="" placeholder="Customer Name">
                                <option value="Customer Name">Customer Name</option>
                                <option value="Rajesh Bhau">Rajesh Bhau</option>
                                <option value="Mangesh Enterprises">Mangesh Enterprises</option>
                                <option value="Mahesh S">Mahesh S</option>
                                <option value="Meelan Vegitables">Meelan Vegitables</option>
                                <option value="Ritesh Market">Ritesh Market</option>
                            </select>
                    </div>
                    <div class="form-group col-md-12">
                        <select name="customername" class="form-control input-lg" id="" placeholder="Vegitable Name">
                                <option value="Vegitable Name">Vegitable Name</option>
                                <option value="Rajesh Bhau">Tomato</option>
                                <option value="Mangesh Enterprises">Potato</option>
                                <option value="Mahesh S">Beetroot</option>
                                <option value="Meelan Vegitables">Asian greens</option>
                                <option value="Ritesh Market">Capsicums</option>
                            </select>
                    </div>

                    <div class="form-group col-md-12">
                        <input type="number" class="form-control input-lg" id="" placeholder="Quantity">
                    </div>
                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">&#8377;</span><input type="currency" class="form-control input-lg" id="" placeholder="Amount">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Save</button>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Print</button>
                    <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>

                </div>




            </form>

        </div>
    </div>

</div>