<div class="expenses-page">
    <div class="row">
        <div class="col-md-12">
            <form role="form">

                <div class="col-md-12">
                    <h1 class="heading">Expenses</h1>
                </div>

                <div class="col-md-12 panel panel-default">
                    <div class="form-content">
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <div class="form-group col-md-12">
                                    <p class="input-group">
                                        <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="customername" class="form-control input-lg" id="" placeholder="Expenses">
                                        <option value="Expenses">Expenses</option>
                                        <option value="Petrol">Petrol</option>
                                        <option value="Accesories">Accesories</option>
                                        <option value="Salary">Salary</option>
                                        <option value="Rent">Rent</option>
                                        <option value="Home Use">Home Use</option>
                                        <option value="Electric Bill">Electric Bill</option>
                                        <option value="Other" id="112">Other</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group col-md-12" ng-show="if id==112">
                            <input type="text" name="other" class="form-control input-lg" id="" placeholder="other">
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control input-lg" id="" placeholder="Remark">
                        </div>
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">&#8377;</span><input type="currency" class="form-control input-lg" id="" placeholder="Amount">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Save</button>
                            <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                            <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Print</button>
                            <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
</script>