<div class="order-page">
    <div class="row">
        <div class="col-md-12">
            <form role="form">

                <div class="col-md-12">
                    <h1 class="heading">Order</h1>
                </div>

                <form action="">
                    <div class="form-content col-md-12 panel panel-default">
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <select name="customername" class="form-control input-lg" id="" placeholder="Customer Name">
                                    <option value="Customer Name">Customer Name</option>
                                    <option value="Rajesh Bhau">Rajesh Bhau</option>
                                    <option value="Mangesh Enterprises">Mangesh Enterprises</option>
                                    <option value="Mahesh S">Mahesh S</option>
                                    <option value="Meelan Vegitables">Meelan Vegitables</option>
                                    <option value="Ritesh Market">Ritesh Market</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select name="customername" class="form-control input-lg" id="" placeholder="Vegitable Name">
                                    <option value="Vegitable Name">Vegitable Name</option>
                                    <option value="Rajesh Bhau">Tomato</option>
                                    <option value="Mangesh Enterprises">Potato</option>
                                    <option value="Mahesh S">Beetroot</option>
                                    <option value="Meelan Vegitables">Asian greens</option>
                                    <option value="Ritesh Market">Capsicums</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control input-lg" placeholder="Quantity">
                            </div>
                        </div>
                        <div class="col-md-12 form-content upload-button">
                            <div class="col-md-6 form-group">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-success btn-lg btn-file"><span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span> <input type="file" class="form-control input-lg" /></span>
                                    <span class="fileupload-preview"></span>
                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Save</button>
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Print</button>
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Sorting</button>
                            </div>
                        </div>


                    </div>
                </form>
            </form>

        </div>
    </div>

</div>