<div class="outstanding-page">
        <div class="col-md-12">
            <h1 class="heading">Outstanding</h1>
        </div>
        <div class="col-md-12 heading">
            <div class="col-md-4">
                <select name="outstanding" class="form-control input-lg" id="" placeholder="Outstanding Type">
                    <option value="Outstanding Type">Outstanding Type</option>
                    <option value="Customer">Customer</option>
                    <option value="Vendor">Vendor</option>
                </select>
            </div>
            <div class="col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="From: 21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="To: 21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <table class="table table-success">
                <thead class="bg-success-custom">
                    <tr>
                        <th>Bill No.</th>
                        <th>Customer Name</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1049</th>
                        <td>Rajesh Bhau</td>
                        <td>Tomato</td>
                        <td>10Kg</td>
                        <td>&#8377; 1000</td>
                        <td>
                            <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Paid</button>
                        </td>
                    </tr>
                    <tr>
                            <th scope="row">1049</th>
                            <td>Rajesh Bhau</td>
                            <td>Tomato</td>
                            <td>10Kg</td>
                            <td>&#8377; 1000</td>
                            <td>
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Paid</button>
                            </td>
                    </tr>
                    <tr>
                            <th scope="row">1049</th>
                            <td>Rajesh Bhau</td>
                            <td>Tomato</td>
                            <td>10Kg</td>
                            <td>&#8377; 1000</td>
                            <td>
                                <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Paid</button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>