<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>Reports <small>Work with Chart.js and D3</small></h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="jumbotron">
        <div class="container">
            <h1>Add Chartsre</h1>
            <p>You can use C3.js or Chart.js</p>
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
            </p>
        </div>
    </div>
</div>