<div class="sorting-page">
    <div class="col-md-12">
        <h1 class="heading">Sorting</h1>
    </div>
    <div class="col-md-12 heading">
        <div class="col-md-4">
            <select name="customername" class="form-control input-lg" id="" placeholder="Customer Name">
                <option value="Customer Name">Customer Name</option>
                <option value="Rajesh Bhau">Rajesh Bhau</option>
                <option value="Mangesh Enterprises">Mangesh Enterprises</option>
                <option value="Mahesh S">Mahesh S</option>
                <option value="Meelan Vegitables">Meelan Vegitables</option>
                <option value="Ritesh Market">Ritesh Market</option>
            </select>
        </div>
        <div class="col-md-4">
            <select name="customername" class="form-control input-lg" id="" placeholder="Vegitable Name">
                <option value="Vegitable Name">Vegitable Name</option>
                <option value="Rajesh Bhau">Tomato</option>
                <option value="Mangesh Enterprises">Potato</option>
                <option value="Mahesh S">Beetroot</option>
                <option value="Meelan Vegitables">Asian greens</option>
                <option value="Ritesh Market">Capsicums</option>
            </select>
        </div>
        <div class="col-md-4">
            <p class="input-group">
                <input type="text" class="form-control input-lg" uib-datepicker-popup ng-model="dt" placeholder="21-09-2017" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success form-control input-lg" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-success">
            <thead class="bg-success-custom">
                <tr>
                    <th>Order No.</th>
                    <th>Customer Name</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Rajesh Bhau</td>
                    <td>Tomato</td>
                    <td>10Kg</td>
                    <td>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Delete</button>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Rajesh Bhau</td>
                    <td>Tomato</td>
                    <td>10Kg</td>
                    <td>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Delete</button>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Rajesh Bhau</td>
                    <td>Tomato</td>
                    <td>10Kg</td>
                    <td>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Edit</button>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Delete</button>
                        <button type="submit" class="btn btn-success btn-outline btn-lg btn-rounded">Reports</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>