.outstanding-page{
    .heading{
      text-align:center;
      padding-bottom:10px;
    }
  
    .btn-outline .btn-primary{
      box-shadow: 0 0 0 2px #388E3C inset !important;
      color: #388E3C !important;
    }
  
    .bg-success-custom{
      background-color: #388E3C !important;
      color: #fff;
      // text-align: center !important;
    }
    table thead{
      text-align: center;
    }
  }
  