<div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <div class="text-center">
                    <h2 class="brand">Ani Theme <small>Free Edition</small></h2>
                    <img src="images/flat-avatar.png" class="user-avatar" /><br />
                    <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
                </div>

                <ul class="nav nav-sidebar">
                    <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Overview <span class="sr-only">(current)</span></a></li>
                    <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>
                    <li ng-class="{active: $state.includes('closingstock')}"><a ui-sref="closingstock">Closing Stock</a></li>
                    <li ng-class="{active: $state.includes('billing')}"><a ui-sref="billing">Billing</a></li>
                    <li ng-class="{active: $state.includes('expenses')}"><a ui-sref="expenses">Expenses</a></li>
                    <li ng-class="{active: $state.includes('order')}"><a ui-sref="order">Order</a></li>
                    <li ng-class="{active: $state.includes('outstanding')}"><a ui-sref="outstanding">Outstanding</a></li>
                    <li ng-class="{active: $state.includes('purchase')}"><a ui-sref="purchase">Purchase</a></li>
                    <li ng-class="{active: $state.includes('sorting')}"><a ui-sref="sorting">Sorting</a></li>

                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
            </div>
        </div>
    </div>
</div>